<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.qiuck_fix_sorter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:remove="android:maxSdkVersion" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/demo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/demo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Qiuck_fix_sorter"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".custom_img"
            android:exported="false" />
        <activity
            android:name=".View_Sended_Complaints"
            android:exported="false" />

        <service android:name=".LocationService" />

        <activity
            android:name=".customeimage"
            android:exported="false" />
        <activity
            android:name=".custome3"
            android:exported="false" />
        <activity
            android:name=".SendFeedback"
            android:exported="false" />
        <activity
            android:name=".ViewComplaintReply"
            android:exported="false" />
        <activity
            android:name=".SendComplaint"
            android:exported="false" />
        <activity
            android:name=".UserHome"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".IP"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>